@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #10061c; */
    background-image: linear-gradient(45deg, #1d0b34, black);
    font-family: "Oxanium", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
.navbar{
   background-color: #360d67;
   height: 50px;
   width: 100vw;
   margin-left: 0px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    margin: 0 22px;
    padding-top: 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
}
h1{
    animation: fade 0.5s ease-in-out;
}

nav li {
    list-style: none;
    font-size: x-large;
    padding: 20px;
    line-height: 40px;
}

nav li:first-child {
    margin-right: auto;
    font-size: xx-large;
}

.sidebar {
    display: flex;
    flex-direction: column;
    top: 0;
    right: -50px;
    height: 100vh;
    width: 350px;
    position: fixed;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: whitesmoke;
}

.sidebar li {
    color: #9742ff;
}

.sidebar a {
    text-decoration: none;
}

@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    .navbar svg {
        right: -50px;
    }
    .about {
        display: none;
    }
    .content img {
        height: 300px;
        width: 100vw;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
        height: 50%;
    }
}

.main-container {
    width: 100vw;
    height: 300px;
    display: flex;
}

.content {
    display: flex;
}

.about {
    font-size: x-large;
    color: white;
    padding-top: 150px;
}
.about h1{
    border-right: 5px solid;
    width: 20%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(8), cursor .4s step-end infinite alternate;
}
@keyframes cursor{
    50%{
        border-color: transparent;
    }
}
@keyframes typing{
    from{
        width: 0;
    }
}

.footer .btn {
    height: 40px;
    width: 130px;
    color: white;
    background-color: #492c6c;
    border: solid white;
    border-radius: 4px;
    margin: 10px 0px;
    padding: 8px 0px;
    text-decoration: none;
}

/* cards */
.card-container {
    display: flex;
    margin: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    height: auto;
    width: 362px;
    padding: 20px;
    overflow: hidden;
    background-color: whitesmoke;
    margin: 10px;
    border-radius: 8px;
    transition: transform 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-content a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 70px;
    margin: 20px 0px;
    text-decoration: none;
    border: solid #9742ff;
    border-radius: 4px;
    padding: 2px 15px;
}

.footer-container {
    background-color: #360d67;
    color: white;
    padding: 20px;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
}

.footer-item {
    text-align: center;
    flex: 1;
    position: relative;
    padding: 0 20px;
}

.footer-item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 60%;
    transform: translateY(-50%);
    height: 60%;
    width: 1px;
    opacity: 0.75;
    background-color: rgba(255, 255, 255, 0.5);
}

.handles {
    list-style: none;
    padding: 0;
}

.handles li {
    display: inline-block;
    margin: 0 10px;
}

.handles i {
    font-size: 30px;
    color: white;
}

.btn {
    display: inline-block;
    background-color: #9742ff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #7641d9;
}

.footer-container p {
    text-align: center;
    margin-top: 20px;
}
